body {
	background: #CEBFA8;
}

h1 {
	color: #5E2416;
	font-family: 'Cinzel', serif;
	font-size: 100px;
	text-align: center;
}

h2 {
	color: #5E2416;
	font-family: 'Cinzel', serif;
	font-size: 30px;
	text-align: center;
}

.background-pic {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;
}