body {
	background: #CEBFA8;
	display: flex;
	padding: 25px 64px;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

h1 {
	color: #5E2416;
	font-family: Cinzel, serif;
	font-size: 100px;
	text-align: center;
}

.scroll-down {
	color: #5E2416;
	font-family: Cinzel, serif;
	font-size: 30px;
	text-align: center;
}

.background-pic {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;
}

nav a {
	color: #5E2416;
	font-family: Cinzel, serif;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
}

nav {
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 250px;
}

.city-name {
	color: #5E2416;
	font-family: Cinzel, serif;
	font-size: 80px;
	text-align: center;
}

p {
	color: #6D3324;
	font-family: "Crimson Text", serif;
	font-size: 22px;
	text-align: center;
}


.header-image {
	position: relative;
	display: flex;
	min-width: 1024px;
	margin: auto;
	max-width: 100%;
}

.header-image::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20%;
	background: rgb(255 255 255 / 60%);
	pointer-events: none;

}

.overlay-text {
	position: absolute;
	bottom: -10%;
	left: 50%;
	transform: translateX(-50%);
}

.city-header {
	max-height: 100%;
	border-radius: 5px;
	margin: auto;
	width: 100%;
	display: block;
}

.outer-container {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	height: 100vh;
}

.arrows-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	gap: 30px;

}

.grid-item {
	position: relative;

}


.grid-item img {
	max-width: 100%;
	border-radius: 8px;
	aspect-ratio: 3 / 4;
}

.arrow {
	position: relative;
	transform: translateY(-50%);
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	padding: 10px;
	border-radius: 50%;
}


.arrow-left {
	left: 0;
}


.arrow-right {
	right: 0;
}

@media (width <=767px) {
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}

	.grid-item img {
		max-width: 90px;

	}
}

@media (width <=767px) {
	body {
		gap: 30px;
	}

	svg {
		width: 20px;
		height: 20px;
	}

	nav a {
		font-size: 12px;
	}

	nav {
		gap: 40px;
	}

	p {
		font-size: 12px;
	}

	.city-name {
		font-size: 28px;
	}

	.header-image {
		min-width: 360px;
	}

	.city-header {
		width: 100%;
		max-height: 400px;
		bottom: -10%;
	}
}

@media (width >=768px) and (width <=1023px) {
	nav a {
		font-size: 20px;
	}

	nav {
		gap: 200px;
	}

	p {
		font-size: 15px;
	}

	svg {
		width: 40px;
		height: 30px;
	}

	.city-name {
		font-size: 55px;
	}

	.header-image {
		min-width: 750px;
	}
}

@media (width >=1024px) {
	.city-header {
		max-height: 500px;
	}

	.overlay-text {
		bottom: -10%;
	}

}